h1 {
    color: white;
    font: verdana;
}

/* * {
    border: solid;
} */

.header{
    background-color:chartreuse;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer{
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    background-color: black;
}

.item{
    border:outset 5px;
    color: purple;
    border-color: #50C878;

    color:white;
    
}

.pic{
    width: 300px;
    height: 300px;
}